.divInput{
    height: 6vh;
    width: 100%;
    border: 3px solid var(--cor-terciaria);
    border-radius: 1vw;
    box-shadow: 0px 6px 5px var(--cor-sombra-forte);
    display: flex;
    align-items: center;
}

.divInput img{
    margin-inline: 1vw;
    margin-inline-end: 0.8vw;
    width: 5%;
}

.divInput input{
    all: unset;
    height: 100%;
    width: 100%;
    margin-left: 0.5vw;
}

.divInput span{
    color: var(--cor-texto-principal);
    opacity: 65%;
    font-weight: 600
}