.infocard{
    padding-block: 2vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
}

.infocard p{
    font-size: 24px;
    font-weight: bold;
    text-align:start;
    color: #094175;
}

.infocard img{
    width: 100%;
    height: auto;
    border-radius: 30px;
    cursor: pointer;
}

.otherInfo span,
.locationInfo span,
.campaignDates span{
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

.unitList {
    list-style-type: none; 
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}