.info-feed{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    justify-content: center;
    gap: 20px;
}

.info-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
}

.info-card p{
    font-size: 24px;
    font-weight: bold;
    color: #094175;
}

.info-card img{
    width: 100%;
    height: auto;
    border-radius: 30px;
    cursor: pointer;
}