.infocard{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
}

.infocard p{
    font-size: 24px;
    font-weight: bold;
    color: #094175;
}

.infocard img{
    width: 100%;
    height: auto;
    border-radius: 30px;
    cursor: pointer;
}