.icontext{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.input{
    display: none;
}

.icontext img{
    height: 2.5vh
}

.icontext span{
    width: auto;
    height: 100%;
    font-size: 2vh;
    font-weight: lighter;
    cursor: pointer;
}
