.icontext{
    display: flex;
    align-items: center;
    width: fit-content;
    padding-inline: 0.3vw;
    padding-block: 0.1vh;
    gap: 0.5vw;
    transition: background-color 0.2s;
    color: var(--cor-texto-principal);
}

.input{
    display: none;
    flex-direction: row;
    max-height: 8vh;
    width:fit-content;
    justify-content: flex-start;
    gap: 25px;
    cursor: pointer;
    margin-bottom: 1vh;
}

.icontext:hover{
    background-color: var(--cor-hover-sutil);
    border-radius: 4px;
}

.icontext img{
    height: 2.5vh
}

.icontext span{
    width: auto;
    height: 100%;
    font-size: 2vh;
    font-size: 1.5rem;
    font-weight: lighter;
    align-self: center;
}

.icontext.selected {
    color: var(--cor-primaria);
    background-color: var(--cor-hover-sutil);
    border-radius: 4px;
}

.icontext.selected span{
    font-weight: 400;
}