.icon-text{
    display: flex;
    flex-direction: row;
    max-width: 400px;
    height: auto;
    width: auto;
    justify-content: start;
    align-items: center;
    gap: 20px;

}

.icon-text img{
    size: 20px;
}

.icon-text span{
    width: auto;
    height: 100%;
    font-size: 24px;
    font-weight: light;
    cursor: pointer;
    color: black;
}