.main {
    display: flex;
    flex-direction: row;
    height: 92vh;
    width: 98vw;
    padding-block: 4vh;
    padding-inline: 6vw;
    color: var(--cor-primaria-texto);
    gap: 4vw;
}

.systemSettings{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
    align-items: flex-start;
}

.systemSettings button{
    width: 10vw;
    height: 4vh;
    border: #FB2D2D 1.5px solid;
    color: #FB2D2D;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    background-color: transparent;
    border-radius: 1.25rem;
    box-shadow: 0px 4px 4px 0px #0000001e;
    transition: background-color 0.2s;
}

.systemSettings button:hover{
    background-color: #FB2D2D;
    color: white;
    transform: translateY(-1px) ;
    transition: background-color 0.2s;;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    font-size: 20px;
    font-weight: 500;
    color: #19416A;
}

.options ul{
    padding-inline: 0.3vw;
    padding-block: 0.2vh;
    transition: background-color 0.2s;
}

.options ul:hover{
    background-color: #00000011;
    padding-inline: 0.3vw;
    padding-block: 0.2vh;
    width: fit-content;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.options a{
    text-decoration: none;
    color: #19416A;
}

.photo{
    display: flex;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px #00000041;
}

.accountSettings{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5vh;
}

.personalData{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    height: 60%;
    gap: 2vh;
    font-size: 1.063rem;
    padding-block: 2.2vh;
    padding-inline: 3vw;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000041;
}

.personalContent{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
}

.personalInfo{
    display: flex;
    flex-direction: row;    
    align-items: center;
    height: fit-content;
    gap: 2.5vw;
}

.personalInfo img{
    width: 2vw;
    height: 90%;
}

.label{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label p{
    font-weight: 400;
    font-size: 0.813rem;
    color: #19416A;
}

.label span{
    font-weight: 300;
    font-size: 1.125rem;
}

.registrationData{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    height: 40%;
    gap: 2vh;
    font-size: 1.063rem;
    padding-block: 2.2vh;
    padding-inline: 3vw;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000041;
}

.registrationContent{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
}

.registrationInfo{
    display: flex;
    flex-direction: row;    
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 2.5vw;
}

.registrationInfo img{
    width: 2vw;
    height: 90%;
}


.label input{
    font-weight: 300;
    font-size: 1.125rem;
    padding: 0.5vh;
    width: 100%;
    border-bottom: 0.1vh solid #b7c1cc;
    border-inline: none;
    border-top: none;
    outline: none;
    background-color: transparent;
    border-radius: 2px;
}

.label input::placeholder{
    color: #0a1b2c;
    font-weight: 300;
    font-size: 1.125rem;
}

.contactButton {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    width: 100%;
}

.contactButton:hover {
    opacity: 0.8;
}

/* Responsividade para tablets */
@media (max-width: 1024px) {
    .main {
        padding: 3vh 4vw;
        gap: 3vw;
    }
    
    .systemSettings {
        width: 25%;
        min-width: 180px;
    }
    
    .accountSettings {
        width: 75%;
    }
    
    .personalInfo img,
    .registrationInfo img {
        width: 2.5vw;
        min-width: 20px;
    }
    
    .personalInfo {
        gap: 2vw;
    }
    
    .registrationInfo {
        gap: 2vw;
    }
    
    .options {
        font-size: 18px;
    }
}

/* Responsividade para smartphones */
@media (max-width: 768px) {
    .main {
        flex-direction: column;
        padding: 2vh 3vw;
        gap: 3vh;
        min-height: auto;
    }
    
    .systemSettings {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-width: auto;
    }
    
    .options {
        display: flex;
        flex-direction: row;
        gap: 2vw;
        font-size: 16px;
        flex-wrap: wrap;
    }
    
    .options ul {
        padding: 0.5vh 1vw;
        margin: 0;
    }
    
    .photo {
        display: none;
    }
    
    .systemSettings button {
        width: auto;
        min-width: 100px;
        padding: 1vh 2vw;
        font-size: 14px;
    }
    
    .accountSettings {
        width: 100%;
        gap: 3vh;
    }
    
    .personalData,
    .registrationData {
        padding: 2vh 4vw;
        height: auto;
        min-height: 300px;
    }
    
    .personalContent,
    .registrationContent {
        gap: 2vh;
        height: auto;
    }
    
    .personalInfo,
    .registrationInfo {
        gap: 3vw;
        margin-bottom: 2vh;
    }
    
    .personalInfo img,
    .registrationInfo img {
        width: 6vw;
        min-width: 24px;
        max-width: 30px;
    }
    
    .label p {
        font-size: 0.75rem;
    }
    
    .label span {
        font-size: 1rem;
    }
    
    .label input {
        font-size: 1rem;
        padding: 1vh;
    }
    
    .label input::placeholder {
        font-size: 1rem;
    }
}

/* Responsividade para smartphones pequenos */
@media (max-width: 480px) {
    .main {
        padding: 1.5vh 2vw;
        gap: 2vh;
    }
    
    .systemSettings {
        flex-direction: column;
        gap: 2vh;
        align-items: stretch;
    }
    
    .options {
        flex-direction: column;
        gap: 1vh;
        font-size: 14px;
    }
    
    .options ul {
        padding: 1vh 2vw;
    }
    
    .systemSettings button {
        width: 100%;
        font-size: 13px;
        padding: 1.5vh 3vw;
    }
    
    .personalData,
    .registrationData {
        padding: 1.5vh 3vw;
        gap: 1.5vh;
        min-height: 250px;
    }
    
    .personalData h4,
    .registrationData h4 {
        font-size: 1rem;
        margin: 0;
    }
    
    .personalInfo,
    .registrationInfo {
        gap: 4vw;
        margin-bottom: 1.5vh;
    }
    
    .personalInfo img,
    .registrationInfo img {
        width: 8vw;
        min-width: 20px;
        max-width: 25px;
    }
    
    .label p {
        font-size: 0.7rem;
        margin-bottom: 0.5vh;
    }
    
    .label span {
        font-size: 0.9rem;
    }
    
    .label input {
        font-size: 0.9rem;
        padding: 0.8vh;
    }
    
    .label input::placeholder {
        font-size: 0.9rem;
    }
}

/* Responsividade para telas muito grandes */
@media (min-width: 1440px) {
    .main {
        padding: 5vh 8vw;
        gap: 5vw;
        max-width: 100vw;
    }
    
    .systemSettings {
        width: 18%;
        min-width: 220px;
    }
    
    .accountSettings {
        width: 82%;
    }
    
    .options {
        font-size: 22px;
        gap: 2vh;
    }
    
    .systemSettings button {
        font-size: 18px;
        height: 5vh;
    }
    
    .personalData,
    .registrationData {
        padding: 3vh 4vw;
        font-size: 1.2rem;
    }
    
    .personalInfo img,
    .registrationInfo img {
        width: 1.8vw;
        min-width: 25px;
    }
    
    .label p {
        font-size: 0.9rem;
    }
    
    .label span {
        font-size: 1.3rem;
    }
    
    .label input {
        font-size: 1.3rem;
    }
    
    .label input::placeholder {
        font-size: 1.3rem;
    }
}