.main {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
    padding: 5vw;
    color: var(--cor-primaria-texto);
    gap: 1vw;
}

.systemSettings{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

.systemSettings button{
    width: 60%;
    height: 3.5vh;
    border: #FB2D2D 1px solid;
    color: #FB2D2D;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000041;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    font-size: 20px;
    font-weight: 500;
    color: #19416A;
}

.options ul{
    padding-inline: 0.3vw;
    padding-block: 0.2vh;
}

.options ul:hover{
    background-color: #00000011;
    padding-inline: 0.3vw;
    padding-block: 0.2vh;
    width: fit-content;
    border-radius: 5px;
}

.options a{
    text-decoration: none;
    color: #19416A;
}

.photo{
    display: flex;
    width: 100%;
    border-radius: 30px;
}

.accountSettings{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5vh;
}

.personalData{
    background-color: #F6F6F6;
    display: flex;
    height: 55%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000041;
}

.registrationData{
    background-color: #F6F6F6;
    display: flex;
    height: 45%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000041;
}