.main {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
    padding: 4vw;
    color: var(--cor-primaria-texto);
    gap: 4vw;
}

.systemSettings{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

.systemSettings button{
    width: 60%;
    height: 3.5vh;
    border: #FB2D2D 1.5px solid;
    color: #FB2D2D;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    background-color: transparent;
    border-radius: 1.25rem;
    box-shadow: 0px 4px 4px 0px #0000001e;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    font-size: 20px;
    font-weight: 500;
    color: #19416A;
}

.options ul{
    padding-inline: 0.3vw;
    padding-block: 0.2vh;
}

.options ul:hover{
    background-color: #00000011;
    padding-inline: 0.3vw;
    padding-block: 0.2vh;
    width: fit-content;
    border-radius: 5px;
}

.options a{
    text-decoration: none;
    color: #19416A;
}

.photo{
    display: flex;
    width: 100%;
    border-radius: 30px;
}

.accountSettings{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5vh;
}

.personalData{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    height: 60%;
    gap: 2vh;
    font-size: 1.063rem;
    padding-block: 2.2vh;
    padding-inline: 3vw;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000041;
}

.personalContent{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
}

.personalInfo{
    display: flex;
    flex-direction: row;    
    align-items: center;
    height: fit-content;
    gap: 2.5vw;
}

.personalInfo img{
    width: 2vw;
    height: 90%;
}

.label p{
    font-weight: 400;
    font-size: 0.813rem;
    color: #19416A;
}

.label span{
    font-weight: 300;
    font-size: 1.125rem;
}

.registrationData{
    background-color: #F6F6F6;
    display: flex;
    height: 40%;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 4px 0px #00000041;
}