main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap: 20px;
    height: 100vh;
    padding-top: 30px;
}

h1 {
    color: black;
    font-size: 32px;
    font-weight: medium;
}

h2{
    font-size: 24px;
    color: black;
}

.icon-text span{
    color: black;
}

span{
    font-size: 24px;
    font-weight: lighter;
}

.availabity-checkbox{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

.filter-card{
    display: flex;  
    flex-direction: row;
    width: 70%;
    height: 70%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.section-1, .section-2{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;

}

.section-1{
    gap: 70px;
}
.section-2{
    gap: 70px
}

.filter-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option-row ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.send-filter{
    width: 200px;
    height: 35px;
    background-color: #0B2A46;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    align-self:center;
}
