.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92%;
    padding-top: 8vh;
    color: var(--cor-primaria);
    padding-inline: 1rem;
    box-sizing: border-box;
}

.logoLogin {
    height: 15vh;
}

.title {
    padding-top: 2vh;
    font-size: 4vh;
}
  
.containerGov {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-block: 1vh;
    padding-block-end: 3vh;
}
  
.containerGov h2 {
    font-weight: 400;
    font-size: 2.2vh;
}
  
.containerGov img {
    height: 2vh;
    margin-left: 0.3vw;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    height: 30%;
    gap: 2vh;
}
  
.form input {
    width: 100%;
}
  
.label {
    display: flex;
    align-items: center;
}
  
.label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.label div {
    display: flex;
}

.checkmark {
    position: relative;
    width: 1.2em;
    height: 1.2em;
    background-color: var(--cor-terciaria);
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5vw;
    cursor: pointer;
    transition: background-color 0.2s;
}
  
.checkmark:hover {
    background-color: var(--cor-hover-azul);
}
  
.label input:not(:checked) + .checkmark::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    background-color: var(--cor-fundo-principal);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s;
}
  
.button, .noLogin {
    border: none;
    border-radius: 3vw;
    background-color: var(--cor-primaria);
    color: var(--cor-texto-claro);
    box-shadow: 0px 5px 7px var(--cor-sombra-forte);
    font-weight: 500;
    font-family: "Rubik", sans-serif;
    cursor: pointer;
}
  
.button {
    width: 20%;
    min-width: 120px;
    height: 4vh;
    min-height: 40px;
}
  
.noLogin {
    width: 15%;
    min-width: 140px;
    height: 4vh;
    min-height: 40px;
    margin-top: 2vh;
}
  
.link {
    text-decoration: none;
}
  
.onErrorCheck {
    color: var(--cor-erro);
    text-align: flex-start;
    align-self: flex-start;
    padding-top: 0.2vh;
    font-size: 1.5vh;
}
  
.dontDisplay {
    display: none;
}

/* Responsividade para tablets */
@media (max-width: 1024px) {
    .main {
        padding-top: 6vh;
        padding-inline: 2rem;
    }
    
    .logoLogin {
        height: 12vh;
    }
    
    .title {
        font-size: 3.5vh;
    }
    
    .form {
        width: 60%;
        gap: 1.5vh;
    }
    
    .containerGov h2 {
        font-size: 2vh;
    }
    
    .button {
        width: 25%;
        min-width: 100px;
    }
    
    .noLogin {
        width: 20%;
        min-width: 120px;
    }
}

/* Responsividade para smartphones */
@media (max-width: 768px) {
    .main {
        padding-top: 4vh;
        padding-inline: 1rem;
        height: 100vh;
        justify-content: center;
    }
    
    .logoLogin {
        height: 10vh;
        max-height: 80px;
    }
    
    .title {
        font-size: 3vh;
        padding-top: 1vh;
    }
    
    .containerGov {
        padding-block: 0.5vh;
        padding-block-end: 2vh;
        flex-direction: column;
        gap: 0.5vh;
    }
    
    .containerGov h2 {
        font-size: 1.8vh;
        margin: 0;
    }
    
    .containerGov img {
        height: 1.5vh;
        margin-left: 0;
    }
    
    .form {
        width: 90%;
        max-width: 400px;
        gap: 1vh;
        height: auto;
    }
    
    .label {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5vh;
    }
    
    .checkmark {
        margin-right: 0;
        margin-bottom: 0.5vh;
    }
    
    .termos {
        font-size: 1.4vh;
        line-height: 1.4;
        text-align: left;
    }
    
    .button {
        width: 40%;
        min-width: 120px;
        height: 5vh;
        font-size: 1.6vh;
    }
    
    .noLogin {
        width: 50%;
        min-width: 140px;
        height: 4.5vh;
        font-size: 1.4vh;
        margin-top: 1vh;
    }
}

/* Responsividade para smartphones pequenos */
@media (max-width: 480px) {
    .main {
        padding-inline: 0.5rem;
        padding-top: 2vh;
    }
    
    .logoLogin {
        height: 8vh;
        max-height: 60px;
    }
    
    .title {
        font-size: 2.5vh;
    }
    
    .containerGov h2 {
        font-size: 1.6vh;
    }
    
    .containerGov img {
        height: 1.2vh;
    }
    
    .form {
        width: 95%;
        gap: 0.8vh;
    }
    
    .termos {
        font-size: 1.2vh;
    }
    
    .button {
        width: 50%;
        height: 4.5vh;
        font-size: 1.4vh;
    }
    
    .noLogin {
        width: 60%;
        height: 4vh;
        font-size: 1.2vh;
    }
}

/* Responsividade para telas muito grandes */
@media (min-width: 1440px) {
    .main {
        padding-top: 10vh;
    }
    
    .logoLogin {
        height: 18vh;
    }
    
    .title {
        font-size: 5vh;
    }
    
    .form {
        width: 40%;
        gap: 3vh;
    }
    
    .containerGov h2 {
        font-size: 2.5vh;
    }
    
    .button {
        width: 15%;
        height: 5vh;
    }
    
    .noLogin {
        width: 12%;
        height: 5vh;
    }
}
  
