.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.h1 {
    color: #0B2A46;
    font-size: 32px;
    font-weight: bold;
}

.infofeed{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    justify-content: center;
    gap: 20px;
}
