.main{
    background-color: aqua;
    height: 92%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main .infoFeed{
    background-color: blue;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main ul {
    width: 75%;
    height: 100%;
    background-color: pink;
    display: flex;
    align-items: center;
    flex-direction: column;
}